ASPNETCORE_ENVIRONMENT=Development
SQLSERVER_SA_PASSWORD=YourStr0ngP@ssword!
DB_NAME=WebApi
JWT_SECRET_KEY=ThisIsADevelopmentSecretKeyForDockerOnly123456789!
JWT_ISSUER=WebApi
JWT_AUDIENCE=WebApi
DATABASE_APPLY_MIGRATIONS=true
DATABASE_SEED_ON_STARTUP=true
